<h1>Spotify List!</h1>

<div>
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event)" placeholder="Filter Artist Name">
  </mat-form-field>
  <button mat-raised-button (click)="createDialog()">Create</button>

</div>



<!-- Angular material table -->
<div class="example-container mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource">
  
      <ng-container matColumnDef="artistName">
        <mat-header-cell *matHeaderCellDef> Artist Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.artistName}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="trackName">
        <mat-header-cell *matHeaderCellDef> Track Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.trackName}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="genre">
        <mat-header-cell *matHeaderCellDef> Genre </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.genre}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
        <!-- <mat-cell *matCellDef="let element" >
          <button mat-button >Edit</button>
        </mat-cell> -->
        <mat-cell *matCellDef="let element">
          <button mat-button color="primary" aria-label="Edit Row" (click)="editData(element)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-button color="warn" aria-label="Edit Row" (click)="deleteData(element)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    </mat-table>

    <mat-paginator 
    [pageSizeOptions]="[5, 10, 25]"
    [length]="pageable.length"
    [pageIndex]="pageable.pageIndex"
    [pageSize]="pageable.pageSize"
    (page)="handlePage($event)"
    >
    </mat-paginator>

</div>

<!-- classic table -->
<!-- <table class="table-fixed">
    <tr>
        <td>Artist Name</td>
        <td>Track Name</td>
        <td>Genre</td>
    </tr>
    <tr *ngFor="let spotify of viewListing$">
                    <td>{{spotify.artistName}}</td>
                    <td>{{spotify.trackName}}</td>
                    <td>{{spotify.genre}}</td>
    </tr>
</table> -->