<mat-sidenav-container fxFlexFill class="example-container">
    <mat-sidenav #sidenav class="sw-sidenav">
        <mat-nav-list>

            <mat-list-item>

                <span>Menu</span>
                <mat-divider>
                </mat-divider>

            </mat-list-item>

            <mat-list-item class="mat-list-item-focus">
                <a mat-button routerLink="/spotify">
                    <mat-icon>library_music</mat-icon><span>Top Songs</span>
                </a>
            </mat-list-item>

            <mat-list-item>
                <a mat-button routerLink="/test">
                    <mat-icon>note</mat-icon><span>Notes</span>
                </a>
            </mat-list-item>

        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button mat-icon-button (click)="sidenav.toggle()" title="Open sidenav">
                <mat-icon>menu</mat-icon>
            </button>
            <span>Simple CRUD </span>
        </mat-toolbar>

        <!-- Add Content Here -->
        <div class="content" #main>
            <router-outlet></router-outlet>
        </div>
        <app-footer></app-footer>

    </mat-sidenav-content>

</mat-sidenav-container>